####################################
# Ender 5 Plus w/ SKR Mini E3 v3.0 #
#----------------------------------#
# Config by Ella Fox:              #
# https://github.com/tinyfluffs    #
####################################

#-------------------------------------
# Retraction
#-------------------------------------
# PLA, ABS, ASA
[firmware_retraction]
retract_length: 1.1
unretract_extra_length: 0
retract_speed: 35
unretract_speed: 35

# TPU
#[firmware_retraction]
#retract_length: 0 # TPU
#unretract_extra_length: 0

#-------------------------------------
# Pressure Advance
#-------------------------------------
[extruder]
# pressure_advance: 0.04565 # Prusament ASA Prusa Orange
pressure_advance: 0 #0.0765 # Prima Creator Value PLA White
# pressure_advance: 0.08865 # Clas Ohlson PLA White

#-------------------------------------
# Profile: Normal
#-------------------------------------
[printer]
max_velocity: 400
max_accel: 2000
max_accel_to_decel: 1500
max_z_velocity: 10
max_z_accel: 150
square_corner_velocity: 5

#-------------------------------------
# Bed Leveling
#-------------------------------------

[bltouch]
sensor_pin: ^PC2
control_pin: PA1
pin_move_time: 0.675
stow_on_each_sample: False
probe_with_touch_mode: True
pin_up_touch_mode_reports_triggered: False
#z_offset: 0 # Important! Reset to zero and calibrate yourself
speed: 200
lift_speed: 150
samples: 3
sample_retract_dist:10
samples_tolerance_retries: 3

[safe_z_home]
speed: 400
z_hop: 10
z_hop_speed: 250

[bed_mesh]
speed: 200
mesh_min: 25,25
mesh_max: 299,299
probe_count: 5,5
horizontal_move_z: 10

[safe_z_home]
# home_xy_position: 182.5,166.5
home_xy_position: 180,160

[bltouch]
x_offset: -53.100
y_offset: -18.400

[extruder]
#pid_Kp: 19.464 # Run PID tuning, your profile may vary
#pid_Ki: 0.927
#pid_Kd: 102.184

[stepper_x]
position_endstop: 365
position_min: 0
position_max: 365

[stepper_y]
position_endstop: 342
#position_endstop: 360 # For big prints
position_min: 0
position_max: 342
#position_max: 360 # For big prints

[screws_tilt_adjust]
screw1: 66,22 # 22,28
screw1_name: front_left
screw2: 365,22 # 328, 28
screw2_name: front_right
screw3: 66,285 # 22,287
screw3_name: back_left
screw4: 365,285 # 328,287
screw4_name: back_right

[multi_pin part_cooling_fans]
pins: PC6,PC7

[fan]
pin: multi_pin:part_cooling_fans
max_power: 1.0
# cycle_time: 0.0001
hardware_pwm: false
# kick_start_time: 0
off_below: 0.05

[heater_fan hotend_fan]
pin: !PB15
max_power: 1.0
fan_speed: 1.0
kick_start_time: 0
heater: extruder
heater_temp: 50.0

#-------------------------------------
# Extruder: Bondtech BMG
#-------------------------------------
[extruder]
step_pin: PB3
# dir_pin: PB4 # Bowden style
dir_pin: !PB4 # Direct drive (reverse the motor)
enable_pin: !PD1
microsteps: 16
#rotation_distance: 7.518 # 7.7108 # #Marlin steps_per_mm = 415
rotation_distance: 22.006 # 7.7108 # Marlin steps_per_mm = 147.25


#-------------------------------------
# General
#-------------------------------------

[force_move]
enable_force_move: true

[filament_switch_sensor filament_sensor]
switch_pin: PC15

[extruder]
#max_power: 1.0
nozzle_diameter: 0.800
filament_diameter: 1.750
heater_pin: PC8
# sensor_type: EPCOS 100K B57560G104F # Creality hotend thermistor
sensor_type: ATC Semitec 104GT-2 # Slice Engineering 300C thermistor
sensor_pin: PA0
min_temp: 5
max_temp: 300
min_extrude_temp: 180
max_extrude_only_distance: 250
#gear_ratio: 50:17
#control: pid
# PID values can be found in the part cooling config section

[printer]
kinematics: cartesian

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F # Creality bed thermistor
sensor_pin: PC4
min_temp: 0
max_temp: 120
#control: pid # These settings are pretty accurate for me, try them first
#pid_Kp: 131.06
#pid_Ki: 11.79
#pid_Kd: 971.23

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
rotation_distance: 40 # Original Marlin steps_per_mm = 80
full_steps_per_rotation: 200
microsteps: 16
endstop_pin: ^PC0
homing_speed: 50

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
rotation_distance: 40 # Original Marlin steps_per_mm = 80
full_steps_per_rotation: 200
microsteps: 16
endstop_pin: ^PC1
homing_speed: 50

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
rotation_distance: 4 # Original Marlin steps_per_mm = 800
full_steps_per_rotation: 200
microsteps: 16
endstop_pin: probe:z_virtual_endstop
position_min: -4
position_max: 410

# ---------- X Stepper ----------
# Creality 42-34, 0.8A peak RMS (per phase)
# -------------------------------
[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
interpolate: false
sense_resistor: 0.110
run_current: 0.5656
# run_current: 0.48
stealthchop_threshold: 999999

# ---------- Y Stepper ----------
# Creality 42-48, 1.0A peak RMS (per phase)
# -------------------------------
[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
interpolate: false
sense_resistor: 0.110
run_current: 0.707
# run_current: 0.60
stealthchop_threshold: 999999

# ---------- Z Stepper ----------
# Creality 42-34, 0.8A peak RMS (per phase)
# -------------------------------
[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
interpolate: true
sense_resistor: 0.110
run_current: 0.48
stealthchop_threshold: 999999

# ---------- E Stepper ----------
# Bondtech NEMA17 Pancake Stepper (22mm) 0.7A peak RMS (per phase)
# https://www.bondtech.se/product/nema17-pancake-stepper-25mm/
# -------------------------------
[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
interpolate: false
run_current: 0.40 # 0.49
hold_current: 0.31

#-------------------------------------
# Additional Macros
#-------------------------------------

# --------------------Prime the Nozzle - Draw lines-------------------
[gcode_macro PRIME_EXTRUDER]
description: Move to left and draw a line to prime extruder
gcode:
    SAVE_GCODE_STATE NAME=prime_extruder_state
    # Reset Extruder
    G92 E0
    # Move Z Axis up
    G1 Z2.0 F3000
    # Move to start position
    G1 X2.1 Y20 Z0.28 F5000.0
    # Draw the first line
    G1 X2.1 Y200.0 Z0.28 F1500.0 E15
    # Move to side a little
    G1 X2.4 Y200.0 Z0.28 F5000.0
    # Draw the second line
    G1 X2.4 Y20 Z0.28 F1500.0 E30
    # Reset Extruder
    G92 E0
    # Move Z Axis up
    G1 Z2.0 F3000
    RESTORE_GCODE_STATE NAME=prime_extruder_state
    # Print message on LCD
    M117 On your marks, get set... GO!

# --------------------Turn Fan On-------------------------------------
[gcode_macro PART_COOLING_FAN_ON]
gcode:
    M106 S255

# --------------------Turn Fan Off------------------------------------

[gcode_macro PART_COOLING_FAN_OFF]
gcode:
    M106 S0

# ------------------------- Filament Change --------------------------
# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.

[gcode_macro M600]
description: Change Filament
variable_parameter_x: 50
variable_parameter_y: 0
variable_parameter_z: 10
gcode:
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{z}
    G90
    G1 X{x} Y{y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state
[virtual_sdcard]
path: ~/gcode_files
[gcode_macro G29]
gcode:
  BED_MESH_CALIBRATE

[gcode_macro FLEX_PURGE]
gcode:
  G1 Z25 F3000 # prepare for nozzle purge, for flexibles
  M83
  G1 E50 F600 # purge 50mm

[idle_timeout]
gcode:
  G28 X Y

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_4A0012000450415339373620-if00

[display]
lcd_type: emulated_st7920
spi_software_miso_pin: PD8 # status led, Virtual MISO
spi_software_mosi_pin: PD6
spi_software_sclk_pin: PB9
en_pin: PB8
encoder_pins: ^PA10, ^PA9
click_pin: ^!PA15

[output_pin beeper]
pin: PB5

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 28.637
#*# pid_ki = 2.893
#*# pid_kd = 70.877
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 58.934
#*# pid_ki = 0.334
#*# pid_kd = 2598.989
#*#
#*# [bltouch]
#*# z_offset = 3.975
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.492917, -0.395417, -0.344167, -0.293333, -0.211250
#*# 	-0.346667, -0.207083, -0.148750, -0.107083, -0.046250
#*# 	-0.162500, 0.002917, 0.053750, 0.080000, 0.101250
#*# 	0.081667, 0.201250, 0.245417, 0.255417, 0.270833
#*# 	0.251667, 0.383750, 0.402083, 0.394167, 0.403750
#*# tension = 0.2
#*# min_x = 25.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 25.0
#*# x_count = 5
#*# max_y = 299.0
#*# mesh_x_pps = 2
#*# max_x = 299.0
